:root {
	--bg: #202020;
	--bg-light: #525252;
	--fg: #d9d9d9;
	--accent: #69b4c9;
}

@-moz-document url("about:newtab"), url("about:home"), url("about:blank") {
	body {
		background-color: var(--bg) !important;
	}
}
