#!/bin/sh

xset b off
xset m 4/1 5

colors_file=$HOME/.config/colors
if [ -f $colors_file ]; then
    set -a
    source $colors_file
    set +a
fi

$HOME/.config/fastfetch/gen_config
$HOME/.config/alacritty/gen_config
$HOME/.config/Xresources/gen_Xresources
